html, body {
  height: 100vh;
  max-height: 100vh;
  padding: 0 !important;

  #app {
    max-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 4.375rem;

    .container {
      flex-shrink: 0;
      flex-grow: 1;
      flex-basis: calc(100vh - calc(11rem));
      //overflow: scroll;
      max-height: calc(100vh - calc(11rem));

      .row.content {
        height: 100%;
        //margin-top: -4px;

        .file-content {
          div:not(.toolbar) {
            max-height: calc(100vh - calc(14.5rem));
            overflow: scroll;
          }
        }
      }
    }

    .row.footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}
