@import "~bootstrap/scss/bootstrap";

body {
  background-color: #fff;
  font-family: sans-serif;
  padding-top: $navbar-brand-height + ($navbar-brand-padding-y * 8);
}

@import "components/loader";
@import "components/folder-content";
