
div.file-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .alert {
    width: 100%;
  }

  div.toolbar {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  div.image {
    width: 100%;

    img.image-content {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }

  pre.text-content {
    padding: 8px;
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 100%;
  }
}
