
div.file-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .alert {
    width: 100%;
  }

  div.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
  }

  img.image-content {
    max-width: 90%;
  }

  pre.text-content {
    padding: 8px;
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 5px;
  }

}
