@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@include media-breakpoint-down(md) {
  .tab-content {
    .tab-pane.show {
      margin-top: 16px;
    }
  }
}

.col-lg-4 {
  max-height: 100%;
  padding-bottom: 8px;

  div.folder-content-list {
    max-height: 100%;
    overflow: scroll;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;

    .folder-content-item.list-group-item {
      border-left: none;
      border-right: none;

      &:first-child {
        border-top: none;
      }

      &:last-child {
        border-bottom: none;
      }

      .details {
        display: flex;
        flex-direction: column;

        span.name {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          .file-icon {
            margin-right: 8px;
          }
        }

        span.details {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }

      &.active {
        small.text-muted {
          color: #fff !important;
        }
      }
    }
  }
}
