@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@include media-breakpoint-down(lg) {
  .tab-content {
    .tab-pane.show {
      margin-top: 16px;
    }
  }
}

a.folder-content-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .file-icon {
    margin-right: 8px;
  }

  span.name {
    max-width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  span.details {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &.active {
    small.text-muted {
      color: #fff !important;
    }
  }
}
