@import "~bootstrap/scss/variables";

.footer {
  margin: 0;
  padding: 0;
  height: 20px;
  width: 100%;
  background-color: $dark;
  color: $light;
  font-size: 12px;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  div {
    margin-left: 8px;
    margin-right: 8px;

    .footer-btn{
      cursor: pointer;
      margin-left: 2px;
      margin-right: 2px;
      color: rgba(255,255,255,0.7);

      &:hover {
        color: #fff;
      }
    }
  }
}
